# Your local backend URL
NEXT_PUBLIC_API_URL=http://localhost:5000

# For production, change to your Render backend URL:
# NEXT_PUBLIC_API_URL=https://sastika-api.onrender.com

# Razorpay test key
NEXT_PUBLIC_RAZORPAY_KEY_ID=rzp_test_T2N0hn9B5uMSoS

# Supabase (from your Supabase project settings)
NEXT_PUBLIC_SUPABASE_URL=https://hcnpplfcgweceziwfzlv.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_iRF5VIwPVRVdhD09n0d2Fw_L2kt1VOc